.modal-parent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
  box-shadow: none;
  outline: none;
  font-family: "Urbanist", sans-serif;
}

.modal {
  padding: 0.62rem 1.62rem;

  border-radius: 1rem;
  border: 1px solid #383838;
  background-color: #222;
  margin: 30px;
  display: flex;
  flex-direction: column;
  max-width: 25rem;
  z-index: 90;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  padding-top: 0.62rem;
  padding-bottom: 1.38rem;
}

.modal-header-close:hover {
  cursor: pointer;
}

.modal-description {
  color: #888;
  font-family: "Urbanist", sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
}

.modal-header-text {
  color: #fff;
  font-family: "Urbanist", sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

.modal-input-parent {
  display: flex;
  flex-direction: column;
  padding: 1rem 0rem;
}

.modal-input-label,
.form-error {
  color: #fff;
  font-family: "Urbanist", sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.8125rem;
}

.form-error {
  color: rgba(255, 0, 0);
  line-height: normal;
  padding: 0 0.75rem 0.5rem;
}

.modal-input {
  display: flex;
  width: 100%;
  height: 2.8125rem;
  border-radius: 0.5rem;
  border: 0;
  background: #2b2b2b;
  padding: 0.9375rem 0.75rem;
  align-items: center;
  margin: 1rem 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 90;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-input::placeholder {
  color: #585858;
  font-family: "Urbanist", sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.modal-input-button {
  border-radius: 0.5rem;
  background: #6e35ef;
  padding: 0.75rem 4.375rem 0.75rem 4.3125rem;

  color: #fff;
  text-align: center;
  font-family: "Urbanist", sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.modal-footer-text {
  color: #fff;
  font-family: "Urbanist", sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.modal-footer-subtext {
  color: #888;
  font-family: "Urbanist", sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 1rem 0rem 1.62rem;
}

.form-input-error {
  margin-bottom: 1px;
  border: 1px solid rgba(255, 0, 0);
}

@media screen and (max-width: 600px) {
  .modal {
    margin: 10px;
    height: 30rem;
    width: 20rem;
  }

  .modal-input-button {
    font-size: 10px;
    display: flex;
    align-items: center;
    border: transparent;
  }
}
